@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;

    background-attachment: scroll;
}

a:hover{
    background-color: red;
}

a:active{
    color: white;
}